version: "3.5"

services:
    frontend:
        image: docker.ub.gu.se/ember-dev:3.14.0
        ports:
            # server
            - 4200:4200
            # livereload
            - 35730:35730
            # Tests in browser
            - 7357:7357
        volumes:
            - ../frontend:/home/node/app
    backend:
        image: docker.ub.gu.se/rails:ruby-2.3.1
        volumes:
            - ../grupprum-server:/usr/src/app
        command: ["sh", "-c", "bundle install && rm -f /usr/src/app/tmp/pids/server.pid && rails server -b 0.0.0.0"]
    db:
        image: postgres:9.4
        volumes:
            - ./build/postgres/postgres.conf:/etc/postgresql/postgresql.conf
